<!DOCTYPE html>
<html>
  <head>
    <title>Enter Change</title>
  </head>
  <body>
    <form method="post" action="/change">
      <label>enter change:</label> <br>
      <input type="text" name="amount">
      <input type="submit">
    </form>
    <br>
    <%= feedback %>
  </body>
</html>