<html>
	<head>

</style>
	<title>Coin Changer</title>

	<body background="css/pic/images2322.jpg">

 <center><div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Dropdown</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div></center>


 <center><picture>

  <img src="css/pic/man-belt-coin-dispenser-21580722.jpg" alt="pic" style="width:"220";">
</picture></center>

 		<link href="css/styles.cc" rel="stylessheet"
 	</head>

 	


<center><h1 style="color: blue">Coin Changer</h1></center>
<center><a style = "color: blue"href = '/' >Restart</a></center>

<hr>
<br>
<br>
<p class = "center"><center><%=yield%></center>
<center><button type="button" onclick="alert('Hello')">Click Me!</button></center>

 <footer>
  <center><p>Posted by: andrew morgan</p></center>
  <center><p>link: <a href="http://www.minedminds.org/">
  http://www.minedminds.org/</a>.</p></center>
  <center><p class "centered">© mysite 2017</p></center>
</footer> 
 </body>
</html>
