<!DOCTYPE html>
<html>
  <head>
    <title>Minimal Change</title>
  </head>
  <body>
  	<label>Original Amount: </label><%= amount %> cents<br>
  	<label>Minimal Coin Change: </label><%= minimal_coin_change %> <br>
  
  </body>
</html>